<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fetched Emails</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h1>Fetched Emails(10)</h1>
            <div>
                <a href="/" class="btn btn-secondary h-50 text-center p-auto">Go Back</a>
                <a class="btn btn-danger h-50 text-center p-auto">Change Email</a>
            </div>
        </div>
        <ul class="row">
            {% for email in emails %}
            <li class="list-group-item w-100">
                <p class="fs-6 p-0 text-secondary" style="height: 10px; margin-bottom: 16px; font-style: italic;">Status: Not Scanned, Safe, Phishing</p>
                <a href="{{ url_for('email_detail', email_id=email.id, username=username, app_password=app_password, imap_server=imap_server) }}" role="button">
                    <div class="d-flex w-100 border border-secondary-emphasis overflow-hidden">
                        <p class="bg-secondary rounded-start-2" style="width: 20px; height: 100%;">
                            <!-- warning color: green=normal, yellow=spam, red=phishing -->
                        </p>
                        <div class="w-100 list-group-item-action">
                            <div class="card-body">
                                <div class="d-flex justify-content-between">
                                    <h5 class="card-title">{{ email.subject }}</h5>
                                    <a class="btn btn-success h-50 text-center p-auto">Detect</a>
                                </div>
                                <p class="card-text"><strong>From:</strong> {{ email.from }}</p>
                                <p class="card-text email-snippet"><strong>Snippet:</strong> {{ email.snippet }}</p>
                            </div>
                            <div class="card-footer text-end email-date">
                                <small>{{ email.date }}</small>
                            </div>
                        </div>
                    </div>
                </a>
                
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
