<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Phishing Detector</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="vw-100 vh-100 d-flex justify-content-center align-items-center">
        <a href="./login" class="btn btn-success w-25 h-25 d-flex justify-content-center align-items-center">fetch email</a>
    </div>
</body>
</html>
